@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";

$fontFamily: "Heebo";

body{
  font-size: 20px;
  div{
    font-size: 10px;
  }

}
